{{#section 'css'}}
<link rel="stylesheet" href="/styles/admin/dist/css/adminlte.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/all.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/styles/admin/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
<style>
    #add-courses {
        font-family: 'Adamina';
        font-size: 18px;
    }
</style>
{{/section}}

{{#section 'script'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.8.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script src="/js/admin/js/adminlte.min.js"></script>

<script src="/js/course-chapter.js"></script>
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script>
    $('.delete').on('click', function () {
        Swal.fire({
            title: 'Do you want to delete this lesson?',
            showCancelButton: true,
            confirmButtonText: `Accept`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                const id = $(this).data("id");
                $('#txtId').val(id);
                $('#frmDelete').submit();
            }
        })
    });
</script>
{{/section}}
<!-- Content Wrapper. Contains page content -->
<div id="add-courses" class="container">
    <form id="frmDelete" action="/teacher/{{courseId}}/contents/{{chapter.Id}}/delete" method="POST">
        <input type="hidden" name="Id" id="txtId">
    </form>
    <!-- Content Header (Page header) -->
    <section class="content-header mt-lg-5">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center">
                <div>
                    <h1 class="font-weight-bold">Contents of your course</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

    {{#with chapter}}
    <section class="content container mt-lg-1">
        <div class="card card-primary">
            <div class="card-header" style="background-color: #d82a4e;">
                <div class="row">
                    <label class="col-sm-2" for="{{Id}}">Chapter</label>
                    <input id="chapter" type="text" class="form-control mb-2 col-sm-10 lesson" name="{{Id}}"
                        value="{{ChapterName}}" data-course="{{../courseId}}" data-id="{{Id}}" readonly>
                </div>
            </div>
            <div class="card-body">
                {{#each lessons as |lesson|}}
                {{#with lesson}}
                <div id="{{Id}}" class="my-3 card shadow">
                    <div class="card-header" style="background-color: #d82a4e; color: white;">
                        <div class="row">
                            <div class="col-sm-11 row">
                                <label class="col-sm-2" for="{{Id}}">Lesson</label>
                                <input id="{{Id}}" type="text" class="form-control mb-2 col-sm-10 lesson" name="{{Id}}"
                                    value="{{Name}}" readonly>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn font-weight-bold delete" id="{{Id}}" aria-label="Close"
                                    data-id="{{Id}}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <video id="preview-{{Id}}" class="video-js mx-auto mb-3" controls preload="auto"
                            data-setup="{}">
                            <source src="/public/courses/{{Video}}" type="video/mp4" />
                        </video>


                        <a href="/teacher/edit/{{../../courseId}}/contents/{{../Id}}/upload/{{Id}}"
                            class="btn btn-primary mx-auto d-block w-25">BROWSE</a>
                    </div>
                </div>
                {{/with}}
                {{/each}}
            </div>
            <a href="/teacher/edit/{{../courseId}}/contents/{{Id}}/add" class=" form-group mx-auto btn btn-danger">Add
                new
                lesson</a>

        </div>

    </section>
    {{/with}}

    <!-- /.content -->
</div>