{{#section 'css'}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/lessons.css">
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

{{/section}}

{{#section 'script'}}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

<script>
    $(".show-more").click(function () {
        if ($(".text-decrip ").hasClass("show-more-height")) {
            $(this).text("(Show Less)");
        } else {
            $(this).text("(Show More)");
        }

        $(".text-decrip ").toggleClass("show-more-height");
    });


    $(".shortDes").each(function (e) {
        $(this).html($(this).data("des"));
    });

    $(".progress-bar").each(function (e) {
        const progress = Math.round(+$(this).data("progress") / $(this).data("duration") * 100);
        if (isNaN(progress))
            $(this).css("width", `0%`);
        else
            $(this).css("width", `${progress}%`);
    });

    $("#description").html($("#description").data("des"));
    $(window).bind('beforeunload', function () {

        const courseId = $('#data').data("course");
        const lessonId = $('#data').data("lesson");
        const video = videojs('video-onplay');
        const currentTime = video.currentTime();
        const fullTime = video.duration();

        const data = {
            lessonId: lessonId,
            currentTime: currentTime,
            fullTime: fullTime,
            courseId: courseId,
        }
        $.post(`/student/course-progress/update`, data, function (data) { });
    });

    $(".playing").parent().parent().parent().addClass("show");
    const video = videojs('video-onplay').currentTime($('#data').data("time"));
</script>

{{/section}}


<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="row">
        <div class="col-xl-8">
            <div id="data" data-course="{{course.Id}}" data-lesson="{{playingVideo.Id}}" data-time="{{currentTime}}">
                <video id="video-onplay" class="video-js w-100" controls preload="auto" data-setup="{}" width="650"
                    height="400">
                    <source src="/public/courses/{{playingVideo.Video}}" type="video/mp4" />
                </video>
            </div>

            <div class="simple-card">
                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active border-left-0" id="product-tab-1" data-toggle="tab" href="#tab-1"
                            role="tab" aria-controls="product-tab-1" aria-selected="true">Descriptions</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent5">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="product-tab-1">

                        <div class="text-decrip show-more-height detailDes" data-des="">

                            <div class="teacher_cour">
                                <div class="info">
                                    <img src="/public/img/{{course.authorImage}}" alt="abcc">
                                    <div>
                                        <div class="Name"><b>{{course.authorName}}</b></div>
                                        <div class="countcour"><i class="fas fa-envelope"></i>&nbsp;{{account.Username}}
                                        </div>
                                        <div class="avis"><i class="fas fa-phone"></i>&nbsp;{{account.Phone}}</div>
                                    </div>
                                </div>
                            </div>

                            <div id="description" data-des="{{course.description}}"></div>
                        </div>
                        <div class="show-more">(Show More)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0  m-b-30">
            <div class="card">
                <div class="custom-scrollbar-css">
                    <div class="card">
                        {{#each course.chapters as |chapter|}}
                        <div class="card-header btn font-weight-bold" data-toggle="collapse"
                            data-target="#chapter-{{chapter.Id}}">
                            {{chapter.ChapterName}}
                        </div>
                        <div class="collapse" data-toggle="collapse" aria-expanded="false" id="chapter-{{chapter.Id}}">
                            <ul class="list-group">
                                {{#each chapter.lessons as |lesson|}}
                                <a class="text-decoration-none {{#if lesson.IsFinish}}finish{{else}}no-finish{{/if}}"
                                    href="?playing={{lesson.index}}">
                                    <li
                                        class="list-group-item lesson-item font-weight-bold {{#if lesson.isActive}}playing{{/if}}">
                                        <i class="fas fa-check-circle"></i>&nbsp;{{lesson.lesson.Name}}
                                    </li>
                                    <div class="progress-bar" style="background-color: rgb(240, 66, 66); height: 5px"
                                        data-progress={{lesson.currentTime}} data-duration="{{lesson.duration}}"></div>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>