{{#section 'css'}}
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

{{/section}}

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

<script>
    $(function () {
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 10) {
                $(".navbar").addClass("active");
            } else {
                $(".navbar").removeClass("active");
            }
        });
    });

    $(window).on("resize", function () {
        if ($(window).width() < 1200) {
            $(".navbar").removeClass("fixed-top");
        } else {
            $(".navbar").addClass("fixed-top");
        }
    });

    $(document).ready(function () {
        $(".navbar").removeClass("active");
    });

    $(".shortDes").each(function (e) {
        $(this).html($(this).data("des"));
    })
    $(".rate").each(function (e) {
        $(this).rateYo({
            rating: $(this).data("rate") ? $(this).data("rate") : 0,
            readOnly: true,
            starWidth: "18px"
        });
    }) 
</script>
{{/section}}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Hero section -->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="hero-section set-bg" data-setbg="public/img/banner1.jpg">
                <div class="container">
                    <div class="hero-text">
                        <h1 class="font-weight-bold text-white">Get all the best free online courses </h1>
                        <p class="font-weight-bold text-white">Build skills with courses, certificates, and degrees
                            online from
                            world-class universities and
                            companies.</p>
                        {{#if isAuth}}
                        <a href="#categories" class="btn btn-danger font-weight-bold text-white p-3">Find
                            out</a>
                        {{else}}
                        <a href="/account/signup" class="btn btn-danger font-weight-bold text-white p-3">Join for
                            free</a>
                        {{/if}}

                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item hero-section">
            <section class="hero-section set-bg w-100" data-setbg="public/img/banner2.jpg"
                style="background-size: contain;">
            </section>
        </div>
        <div class="carousel-item">
            <section class="hero-section set-bg w-100" data-setbg="public/img/banner3.jpg"
                style="background-size: contain;">

            </section>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<section class="course-section spad">
    <div class="container">
        <div class="section-title">
            <h2>
                The most outstanding course of the week</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-crown" style="color: yellow;"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
        <div class="course-warp">
            <div class="row coursebest-items-area" id="coursebest-container">
                <!-- course -->

                {{#each this.outstandingCourses as |course|}}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="course-items">
                        <div class="course-thumb set-bg" data-setbg="{{Image}}">
                            <img class="course-image" src="/public/courses/{{course.Image}}" alt="courseImage"
                                style="border-top-right-radius: 10px; border-top-left-radius: 10px;">
                            {{#if course.DiscountPrice}}
                            <div class="price">
                                <span style="font-size: 20px;">${{formatPrice course.DiscountPrice}}</span>
                                <span style="font-size: 10px; text-decoration: line-through;">({{formatPrice
                                    course.Price}})</span>
                            </div>
                            {{else}}
                            <div class="price">${{formatPrice course.Price}}</div>
                            {{/if}}
                        </div>
                        <div class="course-info">
                            <div class="course-text">
                                <h5>{{course.Name}}</h5>
                                <div class="shortDes" data-des="{{ShortDes}}"></div>
                                <div class="students">
                                    {{course.TotalStudent}} students
                                </div>
                                <div class="d-flex">
                                    <span class="rating">
                                        {{#if course.AverageRate}}{{course.AverageRate}}/5{{else}}0/5{{/if}}</span>
                                    <span class="rate" data-rate="{{AverageRate}}"></span>
                                    <span class="numberRating">({{TotalRate}})</span>
                                </div>
                            </div>
                            <div class="course-btn text-center">
                                <a href="/course/{{course.Id}}" type="button"
                                    class="btn btn-rounded btn-warning btn-lg ">LEARN
                                    MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</section>


<!-- course new section -->
<section class="course-section spad">
    <div class="container">
        <div class="section-title mb-0">
            <h2>Most View Courses</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p>
                The courses with the most views.</p>
        </div>
    </div>

    <div class="course-warp mt-lg-5">

        <div class="row course-items-area">
            <!-- course -->
            {{#each this.mostViewCourses as |course|}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/course/{{course.Id}}">
                    <div class="course-item">
                        <div class="course-thumb set-bg" style="background-color: black;">
                            <img class="course-image" src="/public/courses/{{course.Image}}" alt="courseImage">

                            {{#if course.DiscountPrice}}
                            <div class="price">
                                <span style="font-size: 20px;">${{formatPrice course.DiscountPrice}}</span>
                                <span style="font-size: 10px; text-decoration: line-through;">({{formatPrice
                                    course.Price}})</span>
                            </div>
                            {{else}}
                            <div class="price">${{formatPrice course.Price}}</div>
                            {{/if}}
                        </div>
                        <div class="course-info">
                            <div class="course-text">
                                <h5>{{course.Name}}</h5>
                                <div class="shortDes" data-des="{{ShortDes}}"></div>
                                <div class="students">
                                    {{course.TotalStudent}} students
                                </div>
                                <div class="d-flex">
                                    <span class="rating">
                                        {{#if course.AverageRate}}{{course.AverageRate}}/5{{else}}0/5{{/if}}</span>
                                    <span class="rate" data-rate="{{AverageRate}}"></span>
                                    <span class="numberRating">({{TotalRate}})</span>
                                </div>

                            </div>
                            <div class="course-author">
                                <div class="ca-pic set-bg" data-setbg="/public/img/{{course.authorImage}}"></div>
                                <p>{{this.authorName}}</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- course new section end -->

<!-- categories section -->
<section class="categories-section bg-categories spad">
    <div class="container ">
        <div class="section-title">
            <h2 style="color: white;">Top Course Categories of last week</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>

        <div class="row">
            {{#each this.topic}}
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="{{this.TopicImage}}"></div>
                    <div class="ci-text">
                        <h5>{{this.TopicType}}</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- categories section end -->

<!-- course viewed section -->
<section class="course-section spad">
    <div class="container">
        <div class="section-title mb-0">
            <h2>Newest Courses</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p>
                The courses with the lastest knownledge are waiting for you</p>
        </div>
    </div>

    <div class="course-warp mt-lg-5">
        <div class="row course-items-area">
            <!-- course -->
            {{#each this.newestCourses as |course|}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="course-item" style="border-radius: 5px;">
                    <div class="course-thumb set-bg" style="background-color: black;">
                        <img class="course-image" src="/public/courses/{{course.Image}}" alt="courseImage">

                        {{#if course.DiscountPrice}}
                        <div class="price"><span style="font-size: 20px;">${{formatPrice course.DiscountPrice}}</span>
                            <span style="font-size: 10px; text-decoration: line-through;">({{formatPrice
                                course.Price}})</span>
                        </div>
                        {{else}}
                        <div class="price">${{formatPrice course.Price}}</div>
                        {{/if}}
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>{{course.Name}}</h5>
                            <div class="shortDes" data-des="{{ShortDes}}"></div>
                            <div class="students">
                                {{course.TotalStudent}} students
                            </div>
                            <div class="d-flex">
                                <span class="rating">
                                    {{#if course.AverageRate}}{{course.AverageRate}}/5{{else}}0/5{{/if}}</span>
                                <span class="rate" data-rate="{{AverageRate}}"></span>
                                <span class="numberRating">({{TotalRate}})</span>
                            </div>

                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="/public/img/{{course.authorImage}}"></div>
                            <p>{{this.authorName}}</p>
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- course viewed section end -->