{{#section 'title'}}
<title>Account</title>
{{/section}}

{{#section 'css'}}
<!-- Font Awesome -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/all.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/styles/admin/dist/css/adminlte.min.css">
{{/section}}
{{#section 'script'}}
<!-- Select2 -->
<script src="/js/admin/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.8.1/dist/sweetalert2.all.min.js"></script>
<script>
    $(function () {
        $('.select2').select2()
    });
    $('.deleteAccount').on('click', function () {
        Swal.fire({
            title: 'Do you want to delete this account?',
            showCancelButton: true,
            confirmButtonText: `Accept`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                const username = $(this).data('username');
                $('#frmDeleteAccount #txtUsername').val(username);
                $('#frmDeleteAccount').submit();
            }
        })
    });
    $('.blockAccount').on('click', function () {
        Swal.fire({
            title: 'Do you want to block/unblock this account?',
            showCancelButton: true,
            confirmButtonText: `Accept`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                const username = $(this).data('username');
                $('#frmBlockAccount #txtUsername').val(username);
                $('#frmBlockAccount').submit();
            }
        })
    });
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    $(document).ready(function () {
        const url = window.location.pathname;

        let arr = url.split('/');

        // params found
        if (url.length > 1 && arr[arr.length - 1] === 'search') {

            const search = getUrlParameter("search")
            const sort = getUrlParameter("sort")
            const order = getUrlParameter("order")
            const role = getUrlParameter("role");
            let searchContent = getUrlParameter("searchContent")

            if (searchContent !== null) {
                searchContent = searchContent.replace(/[+]/g, " ");
            }

            $("#form_search #search").val(search).change();
            $("#form_search #sort").val(sort).change();
            $("#form_search #order").val(order).change();
            $("#form_search #role").val(role).change();
            $("#form_search #searchContent").val(searchContent);

            let PageURL = "?search=" + search + "&sort=" + sort + "&order=" + order + "&searchContent=" + searchContent + "&role=" + role;
            $('a[class=page-link]').map(function () {
                $(this).attr("href", PageURL + "&page=" + $(this).data("page"));
            });

        }
    });
</script>

{{/section}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                        <li class="breadcrumb-item active">Account</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <div class="container-fluid">
            <form action="/admin/account/search" method="get" id="form_search">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Search Type:</label>
                                    <select class="select2" style="width: 100%;" name="search" id="search">
                                        <option value="username" selected>Email</option>
                                        <option value="name">Name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Role:</label>
                                    <select class="select2" style="width: 100%;" name="role" id="role">
                                        <option value="all" selected>All</option>
                                        <option value="3">Teacher</option>
                                        <option value="2">Student</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Sort Order:</label>
                                    <select class="select2" style="width: 100%;" name="sort" id="sort">
                                        <option value="ASC" selected>Ascending</option>
                                        <option value="DESC">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Order By:</label>
                                    <select class="select2" style="width: 100%;" name="order" id="order">
                                        <option value="username" selected>Email</option>
                                        <option value="name">Name</option>
                                        <option value="roleid">Role</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Type your keywords here" name="searchContent" id="searchContent">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <form id="frmDeleteAccount" action="/admin/account/delete" method="POST">
            <input type="hidden" name="username" id="txtUsername">
        </form>
        <form id="frmBlockAccount" action="/admin/account/block" method="POST">
            <input type="hidden" name="username" id="txtUsername">
        </form>
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Accounts</h3>
                <a class="btn btn-info  mx-5" href="/admin/account/add">
                    <i class="fas fa-plus">
                    </i>
                    Add Account
                </a>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%">
                                Email
                            </th>
                            <th style="width: 5%">
                                Avatar
                            </th>
                            <th style="width: 15%">
                                Name
                            </th>
                            <th>
                                Provider
                            </th>
                            <th style="width: 10%">
                                Role
                            </th>
                            <th style="width: 10%">
                                Phone
                            </th>
                            <th style="width: 8%" class="text-center">
                                Status
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.items as |item|}}
                        {{#with item}}
                        <tr>
                            <td>
                                <a>
                                    {{Username}}
                                </a>
                            </td>
                            <td>
                                <img alt="Avatar" class="table-avatar" src="/public/img/{{Image}}">
                            </td>
                            <td>
                                {{Name}}
                            </td>

                            <td>
                                {{Phone}}
                            </td>
                            <td>
                                {{#if Provider}}
                                {{Provider}}
                                {{else}}
                                local
                                {{/if}}
                            </td>
                            <td>
                                {{RoleType}}
                            </td>
                            {{#if isVerified}}
                            <td class="project-state">
                                <span class="badge badge-success">Verified</span>
                            </td>
                            {{else}}
                            {{StatusType}}
                            <td class="project-state">
                                <span class="badge badge-danger">{{statustype}}</span>
                            </td>
                            {{/if}}


                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" href="/admin/account/edit/{{Username}}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <button class="btn btn-warning btn-sm blockAccount" data-username="{{Username}}">
                                    {{#unless isBlocked}}
                                    <i class="fas fa-lock"></i>
                                    Block
                                    {{else}}
                                    <i class="fas fa-lock-open"></i>
                                    Block
                                    {{/unless}}
                                </button>
                                <button class="btn btn-danger btn-sm deleteAccount" data-username="{{Username}}">
                                    <i class="fas fa-trash"></i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        {{/with}}
                        {{/each}}

                    </tbody>
                </table>
                <div class="mt-3">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {{#unless canGoPrev}}disabled{{/unless}}">
                                <a class="page-link" href="?page={{prevPage}}" data-page={{prevPage}}>Previous</a>
                            </li>
                            {{#each page_items}}
                            <li class="page-item {{#if isActive}}active{{/if}}">
                                <a class="page-link" href="?page={{value}}" data-page={{value}}>{{value}}</a>
                            </li>
                            {{/each}}
                            <li class="page-item {{#unless canGoNext}}disabled{{/unless}}">
                                <a class="page-link" href="?page={{nextPage}}" data-page={{nextPage}}>Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->