{{#section 'css'}}
<link rel="stylesheet" href="/styles/detail.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{{/section}}

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(".show-more").click(function () {
        if ($(".text-decrip ").hasClass("show-more-height")) {
            $(this).text("(Show Less)");
        } else {
            $(this).text("(Show More)");
        }

        $(".text-decrip ").toggleClass("show-more-height");
    });

    $(".rate").each(function (e) {
        console.log($(this).data("rate"));
        $(this).rateYo({
            rating: $(this).data("rate"),
            readOnly: true,
            starWidth: "18px"
        });
    });
    $(".shortDes").each(function (e) {
        $(this).html($(this).data("des"));
    });
    $(".detailDes").each(function (e) {
        $(this).html($(this).data("des"));
    });

</script>

{{/section}}

{{#with course}}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Hero section -->
<div class="paid-course-landing-page__container">
    <div class="top-content dark-background">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                {{!-- Start content-top-detail --}}

                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 m-b-30">
                    <div class="product-details text-light">
                        <div class=" pb-3">
                            <h2 class="mb-1">{{Name}}</h2>
                        </div>
                        <div class="shortDes mb-3" data-des="{{ShortDes}}"></div>
                        <div class="mb-1">
                            <div class="d-flex mb-2">
                                <span class="udlite-badge udlite-badge-bestseller udlite-heading-xs">
                                    Best seller
                                </span>
                                <h6 class="ml-2" style="color: orange;">{{AverageRate}}</h6>
                                <span class="rate" data-rate="{{AverageRate}}"></span>
                                <span class="mr-1">({{format TotalRate}} ratings)</span>
                            </div>
                            <span>{{format TotalStudent}} students</span>
                        </div>
                        <div class="m-0">
                            <p class="m-0">Create by {{authorName}}</p>
                            <p class="m-0"> <i class="fa fa-check-circle" aria-hidden="true"></i> Last update:
                                {{formatDate
                                UpdateDate}}</p>

                        </div>
                        <div class="mb-1">
                            <a href="#" class="product-wishlist-btn udlite-heading-xs udlite-badge">wishlist <i
                                    class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 m-b-30 mt-lg-3">
                    <img src="/public/courses/{{Image}}" alt="image">
                    <div class="product-details-right ">

                        <div class="border-bottom border-top pb-3 mb-3">

                            {{#if DiscountPrice}}
                            <div class="product-price mb-2">
                                ${{formatPrice DiscountPrice}}
                                <del class="product-del">${{formatPrice Price}}</del>
                            </div>
                            {{else}}
                            <div class="product-price mb-2">
                                ${{formatPrice Price}}
                            </div>
                            {{/if}}

                        </div>
                        <div class="product-size">
                            <a href="#" class="btn btn-primary btn-block btn-lg">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {{!-- End content-top-detail --}}

                {{!-- Start content-image-detail --}}


                {{!-- End-content-image-detail --}}
            </div>

        </div>

    </div>

</div>

<div class="row box-detail">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
            <div class="simple-card">
                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active border-left-0" id="product-tab-1" data-toggle="tab" href="#tab-1"
                            role="tab" aria-controls="product-tab-1" aria-selected="true">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                            aria-controls="product-tab-2" aria-selected="false">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent5">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="product-tab-1">

                        <div class="text-decrip show-more-height detailDes" data-des="{{DetailDes}}">

                        </div>
                        <div class="show-more">(Show More)</div>


                    </div>
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="product-tab-2">
                        <div class="review-block">
                            <p class="review-text font-italic m-0">“Vestibulum cursus felis vel arcu convallis, viverra
                                commodo
                                felis bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin non auctor est, sed lacinia velit. Orci varius natoque penatibus et
                                magnis
                                dis parturient montes nascetur ridiculus mus.”</p>
                            <div class="rating-star mb-4">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </div>
                            <span class="text-dark font-weight-bold">Virgina G. Lightfoot</span><small
                                class="text-mute">
                                (Company name)</small>
                        </div>
                        <div class="review-block border-top mt-3 pt-3">
                            <p class="review-text font-italic m-0">“Integer pretium laoreet mi ultrices tincidunt.
                                Suspendisse
                                eget risus nec sapien malesuada ullamcorper eu ac sapien. Maecenas nulla orci, varius ac
                                tincidunt non, ornare a sem. Aliquam sed massa volutpat, aliquet nibh sit amet,
                                tincidunt
                                ex.
                                Donec interdum pharetra dignissim.”</p>
                            <div class="rating-star mb-4">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </div>
                            <span class="text-dark font-weight-bold">Ruby B. Matheny</span><small class="text-mute">
                                (Company
                                name)</small>
                        </div>
                        <div class="review-block  border-top mt-3 pt-3">
                            <p class="review-text font-italic m-0">“ Cras non rutrum neque. Sed lacinia ex elit, vel
                                viverra
                                nisl faucibus eu. Aenean faucibus neque vestibulum condimentum maximus. In id porttitor
                                nisi.
                                Quisque sit amet commodo arcu, cursus pharetra elit. Nam tincidunt lobortis augueat
                                euismod
                                ante
                                sodales non. ”</p>
                            <div class="rating-star mb-4">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </div>
                            <span class="text-dark font-weight-bold">Gloria S. Castillo</span><small class="text-mute">
                                (Company
                                name)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}