{{#section 'css'}}
<link rel="stylesheet" href="/styles/detail.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{{/section}}

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(".show-more").click(function () {
        if ($(".text-decrip ").hasClass("show-more-height")) {
            $(this).text("(Show Less)");
        } else {
            $(this).text("(Show More)");
        }

        $(".text-decrip ").toggleClass("show-more-height");
    });

    $(".rate").each(function (e) {

        $(this).rateYo({
            rating: $(this).data("rate") ? $(this).data("rate") : 0,
            readOnly: true,
            starWidth: "16px"
        });
    });
    $(".shortDes").each(function (e) {
        $(this).html($(this).data("des"));
    });
    $(".detailDes").each(function (e) {
        $(this).html($(this).data("des"));
    });
    $("#description").html($("#description").data("des"));

    $('.addItem').on('click', function () {
        const id = $(this).data('id');
        $('#txtId').val(id);
        $('#frmAddItem').submit();
    });

    $("#rateCourse").rateYo({
        onChange: function (rating, rateYoInstance) {
            $('#counter').text(rating);
        },
        onSet: function (rating, rateYoInstance) {
            $("#ratingValue").val(rating);
        },
        rating: 5,
    });

    $("#postRating").on("click", function (e) {
        $("#frmRating").submit();
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

{{/section}}
{{#with course}}
<form action="/student/cart/add" method="POST" id="frmAddItem">
    <input type="hidden" name="id" id="txtId">
</form>
<!-- Hero section -->
<div class="paid-course-landing-page__container">
    <div class="top-content dark-background">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                {{!-- Start content-top-detail --}}

                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 m-b-30">
                    <div class="product-details text-light">
                        <div class=" pb-3">
                            <h2 class="mb-1">{{Name}}</h2>
                        </div>
                        <div class="shortDes mb-3" data-des="{{ShortDes}}"></div>
                        <div class="mb-1">
                            <div class="d-flex mb-2">
                                <span class="udlite-badge udlite-badge-bestseller udlite-heading-xs">
                                    Best seller
                                </span>
                                <h6 class="ml-2" style="color: orange;">{{AverageRate}}</h6>
                                <span class="rate" data-rate="{{AverageRate}}"></span>
                                <span class="mr-1">({{format TotalRate}} ratings)</span>
                            </div>
                            <span>{{format TotalStudent}} students</span>
                        </div>
                        <div class="mb-2">
                            <p class="m-0">Create by {{authorName}}</p>
                            <p class="m-0"> <i class="fa fa-check-circle" aria-hidden="true"></i> Last update:
                                {{formatDate
                                UpdateDate}}</p>

                        </div>
                        <div class="mb-1">
                            {{/with}}
                            {{#if isWishlistEmpty}}
                            {{#with course}}
                            <a href="/student/wishlist/add/{{this.Id}}"
                                class="product-wishlist-btn udlite-heading-xs udlite-badge">wishlist <i
                                    class="fa fa-heart" aria-hidden="true"></i></a>
                            {{/with}}

                            {{/if}}
                            {{#if nonWishlistEmpty}}
                            {{log 'kl'}}
                            {{#with course}}
                            <a href="/student/wishlist/delete/{{this.Id}}"
                                class="product-wishlist-btn active udlite-heading-xs udlite-badge">wishlist <i
                                    class="fa fa-heart" aria-hidden="true"></i></a>
                            {{/with}}

                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#with course}}
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 m-b-30 mt-lg-3">
                    <img src="/public/courses/{{Image}}" alt="image">
                    <div class="product-details-right ">

                        <div class="border-bottom border-top pb-3 mb-3">

                            {{#if DiscountPrice}}
                            <div class="product-price mb-2">
                                ${{formatPrice DiscountPrice}}
                                <del class="product-del">${{formatPrice Price}}</del>
                            </div>
                            {{else}}
                            <div class="product-price mb-2">
                                ${{formatPrice Price}}
                            </div>
                            {{/if}}

                        </div>
                        {{#if ../IfBought}}
                        <div class="product-size">
                            <a href="/student/course/{{Id}}" class="btn btn-primary btn-block btn-lg">Start Learning</a>
                        </div>
                        {{else}}
                        {{#if ../InCart}}
                        <div class="product-size">
                            <a href="/student/cart" class="btn btn-primary btn-block btn-lg">Go to Cart</a>
                        </div>
                        {{else}}
                        <div class="product-size">
                            <a data-id="{{Id}}" href="javascript:;" class="btn btn-primary btn-block btn-lg addItem">Add
                                to
                                Cart</a>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
                {{!-- End content-top-detail --}}

                {{!-- Start content-image-detail --}}


                {{!-- End-content-image-detail --}}
            </div>

        </div>

    </div>

</div>


<div class="CommentStar mt-lg-5">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
            <div class="card">
                <div class="infoStar">
                    <div class="avgStar">
                        <h4>{{AverageRate}}</h4>
                        <div>
                            <i class="fa fa-fw fa-star"></i>
                            <i class="fa fa-fw fa-star"></i>
                            <i class="fa fa-fw fa-star"></i>
                            <i class="fa fa-fw fa-star"></i>
                            <i class="fa fa-fw fa-star"></i>
                        </div>
                        <div>Course grade</div>
                    </div>
                    <div class="star-table">
                        <div class="Star5">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.five}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                {{../stars.five}}%
                            </div>
                        </div>
                        <div class="Star4">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.four}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="far fa-star"></i>
                                {{../stars.four}}%
                            </div>
                        </div>
                        <div class="Star3">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.three}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{../stars.three}}%
                            </div>
                        </div>
                        <div class="Star2">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.two}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{../stars.two}}%
                            </div>
                        </div>
                        <div class="Star1">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.one}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{../stars.one}}%
                            </div>
                        </div>
                        <div class="Star1">
                            <div class="bar-container">
                                <div class="bar" style="width: {{../stars.zero}}%;"></div>
                            </div>
                            <div class="star">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{../stars.zero}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row box-detail">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
            <div class="simple-card">
                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active border-left-0" id="product-tab-1" data-toggle="tab" href="#tab-1"
                            role="tab" aria-controls="product-tab-1" aria-selected="true">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                            aria-controls="product-tab-2" aria-selected="false">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent5">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="product-tab-1">
                        <div class="text-decrip show-more-height detailDes" data-des="{{DetailDes}}"></div>
                        <div class="show-more">(Show More)</div>
                    </div>
                    <div class="tab-pane fade d-flex flex-column" id="tab-2" role="tabpanel"
                        aria-labelledby="product-tab-2">
                        <div class="text-decrip show-more-height align-self-center">
                            {{#if ../IfBought}}
                            {{#if ../hasRated}}
                            <button type="button" class="btn btn-danger mx-auto" data-toggle="modal"
                                data-target="#ratingModal">Edit your rating</button>
                            {{else}}
                            <button type="button" class="btn btn-danger mx-auto" data-toggle="modal"
                                data-target="#ratingModal">Rate this course</button>
                            {{/if}}
                            {{/if}}

                            <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog"
                                aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">Write your rating</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="/student/rate/{{Id}}" id="frmRating">
                                                <div class="form-group text-center">
                                                    <div id="rateCourse" class="mx-auto"></div>
                                                    <h3 class="my-3">
                                                        Your rating is <span class="font-weight-bolder"
                                                            id="counter">5</span>
                                                    </h3>
                                                    <input name="rating" type="text" class="form-control"
                                                        id="ratingValue" value="5" hidden>
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text"
                                                        class="col-form-label font-weight-bold">Comment:</label>
                                                    <textarea name="comment" class="form-control" id="message-text"
                                                        rows="5" cols="30"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button id="postRating" type="button"
                                                class="btn btn-primary">Review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#each ../ratings as |rating|}}
                            <div class="review-block row m-lg-3">
                                <img src="/public/img/{{Image}}" alt="avatar" class="rounded-circle col-sm-2">
                                <div class="col-sm-10 d-flex flex-column">
                                    <span class="text-dark font-weight-bold ml-1">{{Name}}</span>
                                    <div class="d-flex"><span class="rate"
                                            data-rate="{{Rate}}"></span><span>{{formatDate Date}}</span>
                                    </div>
                                    <p class="review-text font-italic m-0">“{{Comment}}”</p>
                                </div>
                            </div>
                            <hr>
                            {{/each}}
                        </div>
                        <div class="show-more">(Show More)</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div>
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
            <div class="card">
                {{#each ../chapters as |chapter|}}
                <div class="card-header btn text-left font-weight-bold" data-toggle="collapse"
                    data-target="#chapter-{{chapter.Id}}">
                    {{chapter.ChapterName}}<i class="fas fa-caret-down"></i>
                </div>
                <div class="card-body collapse" data-toggle="collapse" aria-expanded="false"
                    id="chapter-{{chapter.Id}}">
                    <ul class="list-group">
                        {{#each chapter.lessons as |lesson|}}
                        <li class="list-group-item">{{lesson.Name}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>


<div class="teacher_cour">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
            <div class="card">
                <div class="cour">
                    <div>
                        <div class="info">
                            <img src="/public/img/{{authorImage}}" alt="abcc">
                            <div>
                                <div class="Name"><b>{{authorName}}</b></div>
                                <div class="countcour"><i class="fas fa-envelope"></i>&nbsp;{{../account.Username}}
                                </div>
                                <div class="avis"><i class="fas fa-phone"></i>&nbsp;{{../account.Phone}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="description" data-des="{{description}}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-crown" style="color: yellow;"></i></div>
    <div class="divider-custom-line"></div>
</div>
<h2 class="text-center">Top 5 most bought in {{CateName}}</h2>
{{/with}}

<section class="content container mt-lg-5">
    <!-- Default box -->
    <div>
        {{#each TopCourses as |course|}}
        {{#with course}}
        <div class="row mt-lg-5">
            <a href="/course/{{Id}}" class="col-sm-3">
                <img src="/public/courses/{{Image}}" alt="courseImage" style="border-radius: 5%;">
            </a>
            <div class="col-sm-7 d-flex flex-column">
                <h4 class="font-weight-bold">{{Name}}</h4>
                <h5><i class="fas fa-calendar-alt"></i>&nbsp;{{CateName}}</h5>
                <h6 class="text-gray"><i class="fas fa-user"></i>&nbsp;{{authorName}}</h6>
                <div class="shortDes" data-des="{{ShortDes}}"></div>
                <div class="d-flex m-0 p-0">
                    <h6 style="color: orange;">{{#if AverageRate}}
                        {{AverageRate}}
                        {{else}}
                        0
                        {{/if}} </h6>
                    <span class="rate" data-rate="{{AverageRate}}"></span>
                    <h6>({{TotalRate}})</h6>
                </div>
                <span>Last update: {{formatDate UpdateDate}}</span>
            </div>
            <div class="col-sm-2">
                {{#if DiscountPrice}}
                <h5 class="font-weight-bold">${{formatPrice DiscountPrice}}</h5>
                <h5 class="font-weight-bold text-gray" style="text-decoration: line-through;">${{formatPrice Price}}
                </h5>
                {{else}}
                <h5 class="font-weight-bold">${{formatPrice Price}}</h5>
                {{/if}}
            </div>
        </div>
        <hr>
        {{/with}}
        {{/each}}
    </div>

</section>